@font-face {
  font-family: "Roboto Regular";
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  src:
    url("../fonts/Roboto/Roboto.woff2") format('woff2'),
    url("../fonts/Roboto/Roboto.woff") format('woff');
}

@font-face {
  font-family: "Roboto-Ligth";
  font-display: swap;
  font-weight: 300;
  src:
    url("../fonts/Roboto/RobotoLight.woff2") format('woff2'),
    url("../fonts/Roboto/RobotoLight.woff") format('woff');
}

@font-face {
  font-family: "Gilroy-Bold";
  font-display: swap;
  font-style: normal;
  font-weight: bold;
  src:
    url("../fonts/Gilroy/Gilroy-Bold.woff2") format('woff2'),
    url("../fonts/Gilroy/Gilroy-Bold.woff") format('woff');
}
